<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="favicon-196.png" type="image/png" />
	{% seo %}
    {% include analytics.html %}
  </head>
  <body>
    <section class="page-header">
      <!--<h1 class="project-name">{{ page.title | default: site.title }}</h1>-->

      <img src="digit-logo-black.svg" width="400" />
<br><br>
      <!--<h2 class="project-tagline">{{ page.description | default: site.description }}</h2>-->
	  <a href="https://arxiv.org/abs/2005.14679" class="btn">Paper</a>
	  <!--<a href="https://ieeexplore.ieee.org/document/9018215" class="btn">Paper [IEEExplore]</a>-->
      <a href="https://github.com/facebookresearch/digit-design" class="btn">Design Files</a>
      <a href="https://github.com/facebookresearch/digit-interface" class="btn">Python Interface</a>
      <a href="https://github.com/facebookresearch/tacto" class="btn">Simulator</a>
<a href="https://gelsight.com/product/digit-tactile-sensor/" class="btn">Buy DIGIT</a>

    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <center>Copyright © 2020 Facebook, Inc.</center>
      </footer>
    </section>

  </body>
</html>
